[Unit]
Description=Minter-Hub Price Oracle
After=network.target
After=auditd.service
After=mhub-node.service
After=minter-node.service

[Service]
Type=simple
KillMode=process
Restart=always
RestartSec=5
TimeoutSec=300
#
User=minter
#RemainAfterExit=yes
LimitNOFILE=1000
LimitNPROC=1000
#
WorkingDirectory=/home/minter
EnvironmentFile=/home/minter/.config/systemd-mhub.env
#
ExecStart=-/bin/bash -c 'test -f  ./bin/mhub-oracle \
&& ./bin/mhub-oracle \
  --cosmos-mnemonic="$MHUB_MNEMONIC" \
  --minter-node-url="tcp://127.0.0.1:8843/v2/" \
  --cosmos-node-url="127.0.0.1:9090" \
  --tm-node-url="127.0.0.1:36657" '
#
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mhub-oracled
#
OOMScoreAdjust=-900

[Install]
WantedBy=multi-user.target
Alias=mhub-oracle.service
