[Unit]
Description=Minter-Hub Node
After=network.target
After=auditd.service

[Service]
Type=simple
KillMode=process
Restart=always
RestartSec=5
TimeoutSec=300
#
User=minter
#RemainAfterExit=yes
LimitNOFILE=10000
LimitNPROC=1000
#
WorkingDirectory=/home/minter
#
ExecStart=-/bin/bash -c 'test -f ./bin/mhub && ./bin/mhub start'
#
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mhubd
#
OOMScoreAdjust=-900

[Install]
WantedBy=multi-user.target
Alias=mhub.service
