[Unit]
Description=Minter-Hub to Minter Connector
After=network.target
After=auditd.service
After=mhub-node.service
After=minter-node.service

[Service]
Type=simple
KillMode=process
Restart=always
RestartSec=5
TimeoutSec=300
#
User=minter
#RemainAfterExit=yes
LimitNOFILE=1000
LimitNPROC=1000
#
WorkingDirectory=/home/minter
EnvironmentFile=/home/minter/.mhub/systemd.env
#
ExecStart=-/bin/bash -c 'test -f  ./bin/mhub-minter-connector \
&& ./bin/mhub-minter-connector \
--minter-multisig="$MINTER_MULTISIG_ADDR" \
--minter-chain=testnet \
--minter-mnemonic="$MINTER_MNEMONIC" \
--cosmos-mnemonic="$COSMOS_MNEMONIC" \
--minter-node-url="127.0.0.1:8843/v2/" \
--cosmos-node-url="127.0.0.1:9090" \
--tm-node-url="127.0.0.1:36657" \
--minter-start-block=2561976 \
--minter-start-event-nonce=1 \
--minter-start-batch-nonce=1 \
--minter-start-valset-nonce=1'
#
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mhub-minter-connectord
#
OOMScoreAdjust=-900

[Install]
WantedBy=multi-user.target
Alias=mhub-minter-connector.service
